.fullheight {
  height: 100%; }

div.icon {
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  display: block; }
  div.icon:before {
    background-image: url("../img/icons/icon_themen.png");
    background-size: 100% 100%;
    top: 0; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      div.icon:before {
        background-image: url("../img/icons/icon_themen@2x.png");
        background-size: 100% 100%; } }
  div.icon.big {
    width: 46px;
    height: 46px;
    margin: 0;
    padding: 0; }
    div.icon.big:before {
      top: 0; }

.icon {
  position: relative;
  padding-left: 35px; }
  .icon:before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 2px;
    background-image: url("../img/icons/icon_themen.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon:before {
        background-image: url("../img/icons/icon_themen@2x.png");
        background-size: 100% 100%; } }
  .icon.themen:before {
    background-image: url("../img/icons/icon_themen.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon.themen:before {
        background-image: url("../img/icons/icon_themen@2x.png");
        background-size: 100% 100%; } }
  .icon.basiskarte:before {
    background-image: url("../img/icons/icon_basiskarte.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon.basiskarte:before {
        background-image: url("../img/icons/icon_basiskarte@2x.png");
        background-size: 100% 100%; } }
  .icon.legende:before {
    background-image: url("../img/icons/icon_legende.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon.legende:before {
        background-image: url("../img/icons/icon_legende@2x.png");
        background-size: 100% 100%; } }
  .icon.beschriftung:before {
    background-image: url("../img/icons/icon_beschriftung.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon.beschriftung:before {
        background-image: url("../img/icons/icon_beschriftung@2x.png");
        background-size: 100% 100%; } }
  .icon.einstellungen:before {
    background-image: url("../img/icons/icon_einstellungen.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon.einstellungen:before {
        background-image: url("../img/icons/icon_einstellungen@2x.png");
        background-size: 100% 100%; } }
  .icon.about:before {
    background-image: url("../img/icons/icon_about.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon.about:before {
        background-image: url("../img/icons/icon_about@2x.png");
        background-size: 100% 100%; } }
  .icon.hilfe:before {
    background-image: url("../img/icons/icon_hilfe.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon.hilfe:before {
        background-image: url("../img/icons/icon_hilfe@2x.png");
        background-size: 100% 100%; } }
  .icon.big {
    padding-left: 30px; }
    .icon.big.themen:before {
      background-image: url("../img/icons/icon_themen_big.png");
      background-size: 100% 100%; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .icon.big.themen:before {
          background-image: url("../img/icons/icon_themen_big@2x.png");
          background-size: 100% 100%; } }
    .icon.big.basiskarte:before {
      background-image: url("../img/icons/icon_basiskarte_big.png");
      background-size: 100% 100%; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .icon.big.basiskarte:before {
          background-image: url("../img/icons/icon_basiskarte_big@2x.png");
          background-size: 100% 100%; } }
    .icon.big.beschriftung:before {
      background-image: url("../img/icons/icon_beschriftung_big.png");
      background-size: 100% 100%; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .icon.big.beschriftung:before {
          background-image: url("../img/icons/icon_beschriftung_big@2x.png");
          background-size: 100% 100%; } }
    .icon.big.legende:before {
      background-image: url("../img/icons/icon_legende_big.png");
      background-size: 100% 100%; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .icon.big.legende:before {
          background-image: url("../img/icons/icon_legende_big@2x.png");
          background-size: 100% 100%; } }
    .icon.big.einstellungen:before {
      background-image: url("../img/icons/icon_einstellungen_big.png");
      background-size: 100% 100%; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .icon.big.einstellungen:before {
          background-image: url("../img/icons/icon_einstellungen_big@2x.png");
          background-size: 100% 100%; } }
    .icon.big.startseite:before {
      background-image: url("../img/icons/icon_startseite_big.png");
      background-size: 100% 100%; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .icon.big.startseite:before {
          background-image: url("../img/icons/icon_startseite_big@2x.png");
          background-size: 100% 100%; } }
    .icon.big.hilfe:before {
      background-image: url("../img/icons/icon_hilfe_big.png");
      background-size: 100% 100%; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .icon.big.hilfe:before {
          background-image: url("../img/icons/icon_hilfe_big@2x.png");
          background-size: 100% 100%; } }
    .icon.big:before {
      width: 26px;
      height: 26px;
      top: 5px; }

button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  -webkit-box-shadow: 0px 1px 6px -3px black;
  box-shadow: 0px 1px 6px -3px black;
  -webkit-border-radius: 2px;
  color: white;
  outline: none; }
  button:hover {
    background-color: #f7f8f8; }
  button:active {
    background-color: #eceeee; }
  button.icon:before {
    width: 34px;
    height: 34px;
    top: 8px;
    left: 8px; }
  button.menubutton {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent; }
    button.menubutton:hover {
      background-color: transparent; }
    button.menubutton:active {
      background-color: transparent; }

.onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 25px; }

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 23px;
  padding: 0;
  line-height: 30px;
  font-size: 0px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "";
  padding-left: 15px;
  background-color: #6dbcdb;
  color: white; }

.onoffswitch-inner:after {
  content: "";
  padding-right: 15px;
  background-color: #d7dadb;
  color: #666666;
  text-align: right; }

.onoffswitch-switch {
  width: 16px;
  margin: 4px;
  background: white;
  border: 2px solid transparent;
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

@font-face {
  font-family: "robotolight";
  src: url("fonts/roboto-light.eot");
  src: url("fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-light.woff") format("woff"), url("fonts/roboto-light.ttf") format("truetype"), url("fonts/roboto-light.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "robotolight", sans-serif;
  font-size: 17px;
  color: #2c3e50; }

h2 {
  font-size: 25px;
  font-weight: normal;
  position: relative; }

.smalltext {
  color: #959696;
  font-size: 14px; }

.clickable {
  cursor: pointer; }
  .clickable:hover {
    color: #6dbcdb; }
  .clickable:active {
    color: #fc4349; }

.active {
  color: #fc4349; }

.list {
  list-style-type: none;
  padding: 0; }
  .list li {
    line-height: 25px;
    margin-bottom: 15px; }
  .list li:last-of-type {
    margin-bottom: 0; }

.livesearch {
  display: none; }

.test {
  background-color: #fc4349; }

body.helper {
  padding: 0 20px; }
  body.helper h1 {
    margin-top: 40px;
    color: #dde0e0; }
  body.helper .container p {
    padding: 10px;
    border: 1px solid white;
    background-color: #f1f1f1; }
  body.helper .helper {
    background-color: #fc4349;
    color: white;
    border-radius: 5px;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px; }
    body.helper .helper p {
      border: none;
      padding: 0 20px; }

/**********************************Menu */
.menuContainer {
  z-index: 5;
  overflow-x: hidden;
  position: absolute;
  left: -20%;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.5); }

.menuContainerVisible {
  top: 0px;
  left: 0%;
  /*height: 100% */
  width: 20%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.menuContainerHidden {
  /*height: 0px */
  width: 0px;
  left: -20%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.menu {
  position: absolute;
  width: 500%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }
  .menu ul {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 20%;
    box-sizing: border-box; }
    .menu ul li .onoffswitch {
      display: inline;
      float: right; }
    .menu ul li a {
      text-decoration: none;
      color: #2c3e50;
      display: inline-block; }
      .menu ul li a span {
        padding-right: 10px; }
        .menu ul li a span img {
          width: 22px;
          height: 22px; }
      .menu ul li a.menuLinkActive {
        color: #fc4349; }

.menuIsVisible {
  display: inline; }

.menuIsHidden {
  display: none; }

#menu {
  display: inline; }

#menuTitel {
  display: none;
  background-color: #d7dadb;
  box-sizing: border-box;
  padding: 20px; }
  #menuTitel h2 {
    margin: 0; }

#suchFeld {
  box-sizing: border-box;
  height: 35px;
  background: #d7dadb;
  color: #2c3e50;
  font-family: "robotolight";
  border: none;
  padding: 0 20px; }
  #suchFeld::-webkit-input-placeholder {
    color: #2c3e50;
    font-family: "robotolight"; }

#zurueckButton {
  display: none;
  margin: 10px;
  float: left; }

#menu_schliessen {
  float: right;
  margin: 10px; }

#basiskarte > li {
  padding-bottom: 10px; }
  #basiskarte > li button {
    position: relative;
    float: right;
    margin-top: -10px;
    padding-right: 2%; }

/**********************************Kartenvorschau */
#kartenvorschau {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #d7dadb;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  float: right;
  padding: 20px;
  box-sizing: border-box; }
  #kartenvorschau img {
    width: 100%; }
  #kartenvorschau button {
    font-family: "robotolight";
    width: auto;
    margin-top: 10px;
    padding: 0 20px;
    background-color: #6dbcdb;
    float: right; }

.layer {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  overflow: hidden;
  background-color: white;
  margin-top: 20px;
  padding: 0 10px;
  z-index: 20;
  margin-right: -317px;
  margin-left: 317px; }
  .layer header p {
    margin: 10px 0; }
  .layer .controls {
    display: none;
    height: 60px;
    overflow: hidden; }
  .layer .ui-slider-range {
    background: #6dbcdb; }

.opacityslider {
  margin-right: 20px;
  margin-top: 11px;
  height: 5px;
  border: none;
  background: #d7dadb; }
  .opacityslider a.ui-slider-handle {
    background: white;
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    top: -8px;
    height: 20px;
    width: 20px;
    cursor: pointer; }

.bglayercontainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10; }
  .bglayercontainer .bglayer {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red; }

.interfacebuttons button {
  z-index: 4; }

.infocontainer {
  position: absolute;
  top: 0;
  left: -40%;
  box-sizing: border-box;
  padding: 0 20px;
  height: 100%;
  background-color: white;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden; }
  .infocontainer #infoCloseButton {
    position: absolute;
    top: 10px;
    right: 10px; }

#infoButton {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px; }

.timelinecontainer {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white; }
  .timelinecontainer button {
    float: right; }

.timelinecontainer.is-expanded {
  width: 400px; }
