.fullheight {
  height: 100%; }

div.icon {
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  display: block; }
  div.icon:before {
    background-image: url("../img/icons/icon_themen.png");
    background-size: 100% 100%;
    top: 0; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      div.icon:before {
        background-image: url("../img/icons/icon_themen@2x.png");
        background-size: 100% 100%; } }
  div.icon.big {
    width: 46px;
    height: 46px;
    margin: 0;
    padding: 0; }
    div.icon.big:before {
      top: 0; }

.icon {
  position: relative;
  padding-left: 35px; }
  .icon:before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 2px;
    background-image: url("../img/icons/icon_themen.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon:before {
        background-image: url("../img/icons/icon_themen@2x.png");
        background-size: 100% 100%; } }
  .icon.themen:before {
    background-image: url("../img/icons/icon_themen.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon.themen:before {
        background-image: url("../img/icons/icon_themen@2x.png");
        background-size: 100% 100%; } }
  .icon.basiskarte:before {
    background-image: url("../img/icons/icon_basiskarte.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon.basiskarte:before {
        background-image: url("../img/icons/icon_basiskarte@2x.png");
        background-size: 100% 100%; } }
  .icon.beschriftung:before {
    background-image: url("../img/icons/icon_beschriftung.png");
    background-size: 100% 100%; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      .icon.beschriftung:before {
        background-image: url("../img/icons/icon_beschriftung@2x.png");
        background-size: 100% 100%; } }
  .icon.big {
    padding-left: 60px; }
    .icon.big.themen:before {
      background-image: url("../img/icons/icon_themen_big.png");
      background-size: 100% 100%; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .icon.big.themen:before {
          background-image: url("../img/icons/icon_themen_big@2x.png");
          background-size: 100% 100%; } }
    .icon.big.basiskarte:before {
      background-image: url("../img/icons/icon_basiskarte_big.png");
      background-size: 100% 100%; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .icon.big.basiskarte:before {
          background-image: url("../img/icons/icon_basiskarte_big@2x.png");
          background-size: 100% 100%; } }
    .icon.big.beschriftung:before {
      background-image: url("../img/icons/icon_beschriftung_big.png");
      background-size: 100% 100%; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .icon.big.beschriftung:before {
          background-image: url("../img/icons/icon_beschriftung_big@2x.png");
          background-size: 100% 100%; } }
    .icon.big:before {
      width: 46px;
      height: 46px;
      top: -6px; }

button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  -webkit-box-shadow: 0px 1px 6px -3px black;
  box-shadow: 0px 1px 6px -3px black;
  -webkit-border-radius: 2px;
  color: white;
  outline: none; }
  button:hover {
    background-color: #f7f8f8; }
  button:active {
    background-color: #eceeee; }
  button.icon:before {
    width: 34px;
    height: 34px;
    top: 8px;
    left: 8px; }
  button.menubutton {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent; }
    button.menubutton:hover {
      background-color: transparent; }
    button.menubutton:active {
      background-color: transparent; }

.onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 25px; }

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 23px;
  padding: 0;
  line-height: 30px;
  font-size: 0px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "";
  padding-left: 15px;
  background-color: #6dbcdb;
  color: white; }

.onoffswitch-inner:after {
  content: "";
  padding-right: 15px;
  background-color: #d7dadb;
  color: #666666;
  text-align: right; }

.onoffswitch-switch {
  width: 16px;
  margin: 4px;
  background: white;
  border: 2px solid transparent;
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

@font-face {
  font-family: "robotolight";
  src: url("fonts/roboto-light.eot");
  src: url("fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-light.woff") format("woff"), url("fonts/roboto-light.ttf") format("truetype"), url("fonts/roboto-light.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "robotolight", sans-serif;
  font-size: 17px;
  color: #2c3e50; }

h2 {
  font-size: 25px;
  font-weight: normal;
  position: relative; }

.smalltext {
  color: #959696;
  font-size: 14px; }

.clickable {
  cursor: pointer; }
  .clickable:hover {
    color: #6dbcdb; }
  .clickable:active {
    color: #fc4349; }

.active {
  color: #fc4349; }

.list {
  list-style-type: none;
  padding: 0; }
  .list li {
    line-height: 25px;
    margin-bottom: 15px; }
  .list li:last-of-type {
    margin-bottom: 0; }

.test {
  background-color: #fc4349; }

body.helper {
  padding: 0 20px; }
  body.helper h1 {
    margin-top: 40px;
    color: #dde0e0; }
  body.helper .container p {
    padding: 10px;
    border: 1px solid white;
    background-color: #f1f1f1; }
  body.helper .helper {
    background-color: #fc4349;
    color: white;
    border-radius: 5px;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px; }
    body.helper .helper p {
      border: none;
      padding: 0 20px; }
